.bodyBG {
    @include bodyContainer();
}

section {
    .formContainer {
        div {
            .content {
                padding-top: 5vh;
                padding-bottom: 10vh;
            }
            div {
                div {
                    div {
                        .tituloContacto {
                            color: $blanco;
                            width: max-content;
                            margin: 0 auto;
                        }
                        /* ANIMACIONES, GRADIENTES Y TRANSFORMACIONES */
                        .tituloContacto:hover {
                            animation: borderBottom 3s;
                            transform: scale(1.1);
                            transition-duration: 3s;
                        }
                        @keyframes borderBottom {
                            100% {
                                border-bottom: 2px solid #EEEEEE; 
                            }
                        
                        }
                    }
                    .formContacto {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 2vh;

                        .formCostumeContacto {
                            padding-top: 20px;
                        }
                    }
                }
            }
        }
    }
}