.bodyBG {
    @include bodyContainer();
}

section {
    .formContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: rgba(0,0,0,0.6);
        padding-top: 15vh;
        padding-bottom: 10vh;

        div {
            .centradoForm {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            div {
                .tituloTrabaja {
                    color: $blanco;
                    width: max-content;
                    margin: 0 auto;
                }
                .formCostume {
                    padding-top: 20px;

                    div {
                        .form-label {
                            color: $blanco;
                        }
                    }
                }
                /* ANIMACIONES, GRADIENTES Y TRANSFORMACIONES */
                .tituloTrabaja:hover {
                    animation: borderBottom 3s;
                    transform: scale(1.1);
                    transition-duration: 3s;
                }
                @keyframes borderBottom {
                    100% {
                        border-bottom: 2px solid #EEEEEE; 
                    }
                
                }
            }
        }
    }
}